@model Lunch.Models.PersonViewModel
@{
    var isEditMode = Model.PersonId != null;
    ViewBag.Title = isEditMode ? "Edit " + Model.FullName : "Add Person";
}

<h2>@Model.FullName</h2>

<div class="row">
    <div class="col-sm-6 col-xs-10">
        @using (Html.BeginForm(isEditMode ? "EditPerson" : "AddPerson", "Person"))
        {
            @Html.HiddenFor(m => m.PersonId)
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">@(isEditMode ? "Save" : "Add")</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            @Html.ValidationSummary(null, new { @class = "alert-danger", style = "margin-top: 15px; padding: 10px 0;" });
        }
    </div>
</div>